# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- List popular libraries for Data Science
- List useful tools for DataScience
- List how to text using Markdown
- List some arithmetic operations in code

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java script
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit-learn
4. Pytorch
5. Matplotlib

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>Jupyter Notebook</td>
    </tr>
    <tr>
        <td>RStudio</td>
    </tr>
    <tr>
        <td>Apache Spark</td>
    </tr>
    <tr>
        <td>TensorFlow</td>
    </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
# This a simple arithmetic expression to multiply then add integers

(3*4) + 5

17

In [11]:
#This will convert 200 minutes to hours by dividing by 60

hours = 200/60
print(hours)

3.3333333333333335

## Author
Navin N